<button type="button" class="btn btn-warning navbar-btn">Sign in</button>
<span class="badge badge-danger" style="margin:0 10px">or</span>
<div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle  navbar-btn" data-toggle="dropdown">
        <img src="/images/pup.png" class="img-circle logged-in-user-image" />
        <strong>bobmarley</strong>
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu">
        <li><a href="#">Edit Profile</a></li>
        <li><a href="#">Support</a></li>
        <li class="divider"></li>
        <li><a href="#" class="has-warning">Logout</a></li>
    </ul>
</div>
