<div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle  navbar-btn" data-toggle="dropdown">
        <img src="{{image}}" class="img-circle logged-in-user-image" />
        <strong>{{username}}</strong>
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu">
        <li><a href="#">Edit Profile</a></li>
        <li><a href="#">Support</a></li>
        <li class="divider"></li>
        <li><a href="#">Logout</a></li>
    </ul>
</div>
