<div class="footer text-center">
    <div class="footer-copyright text-center">
        <a href="https://github.com/mmukhin/badmin">GitHub</a> /
        <a href="https://github.com/mmukhin/badmin/blob/master/README.md">Readme</a> /
        <a href="https://github.com/mmukhin/badmin/issues">Issues</a> /
        <a href="https://psitsmike.com">Author</a>
    </div>
</div>