<div class="container-fluid">
    <div class="well">
        <em>Thanks for checking this out! Let me know if you have questions or comments or pull requests.</em><br/>
        <a href="http://psitsmike.com">Author's Blog and Contact Info</a>
    </div>
</div>