<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Addresses</li>
</ol>

<div class="panel panel-default">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Street</th>
            <th>City</th>
        </tr>
        </thead>
        <tbody class="addresses-data">
        </tbody>
    </table>
</div>

<ul class="pagination"><li class="active"><a href="#">PREV</a></li><li><a href="#">1</a></li><li class="active"><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li class="disabled"><a href="#">5</a></li><li class="active"><a href="#">NEXT</a></li></ul>