<ol class="breadcrumb well well-sm">
    <li><a href="#">Home</a></li>
    <li class="active">Addresses</li>
</ol>

<div class="panel panel-default">
    <table class="table table-striped">
        <thead class="bg-primary">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Street</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody class="addresses-data"></tbody>
    </table>
</div>

<nav>
    <ul class="pagination ">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>