body {
  padding-top: 70px;
  background: #eee;
}
#region-current-view {
  margin: 0 15px;
}
#nav .logged-in-user-image {
  margin: 0 5px 0 0;
  height: 18px;
}
#notifier {
  position: fixed;
  width: 100%;
  top: 70px;
  z-index: 100;
}