<br/>
<h4 class="sans page-title"><strong>VERYMPORTANT<small>admin</small></strong></h4>
<form id="login-form" class="ink-form">
    <div class="column-group gutters">
        <label for="username" class="all-10">Username</label>
        <div class="control all-90">
            <input type="text" name="username" id="username" class="all-20" />
        </div>
    </div>
    <div class="column-group gutters">
        <label for="password" class="all-10">Password</label>
        <div class="control all-90">
            <input type="password" name="password" id="password" class="all-20" />
        </div>
    </div>

    <span class="ink-button orange right-space form-submit-login" style="margin:10px 0 0;">Login</span>
</form>



