<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Dashboard</li>
</ol>
<div class="row">
    <div class="col-md-6">
        <div class="alert alert-info alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> <strong>Well done!</strong> You successfully read this important alert message.</div>
    </div>
    <div class="col-md-6">
        <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> <strong>Oh snap!</strong> Change a few things up and try submitting again.</div>
    </div>
</div>
<div class="container">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Documentation Links</div>
            <ul class="list-group">
                <li class="list-group-item"><span class="badge">GitHub</span><a href="https://github.com/mmukhin/badmin">https://github.com/mmukhin/badmin</a></li>
                <li class="list-group-item"><span class="badge">node.js</span><a href="http://nodejs.org/download/">http://nodejs.org/download/</a></li>
                <li class="list-group-item"><span class="badge">npm</span><a href="https://docs.npmjs.com/">https://docs.npmjs.com/</a></li>
                <li class="list-group-item"><span class="badge">Gulp</span><a href="https://github.com/gulpjs/gulp">https://github.com/gulpjs/gulp</a></li>
                <li class="list-group-item"><span class="badge">Backbone.js</span><a href="http://backbonejs.org/">http://backbonejs.org/</a></li>
                <li class="list-group-item"><span class="badge">Marionette.js</span><a href="http://marionettejs.com/docs/current/">http://marionettejs.com/docs/current/</a></li>
                <li class="list-group-item"><span class="badge">Bootstrap</span><a href="http://getbootstrap.com/getting-started/">http://getbootstrap.com/getting-started/</a></li>
                <li class="list-group-item"><span class="badge">Author</span><a href="http://psitsmike.com/">http://psitsmike.com/</a></li>
            </ul>
        </div>
    </div>
</div>